

.forgotForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding-top: 1rem; 
}


.backBtn {
  background: none;
  border: none;
  color: var(--color-text-light);
  font-size: 0.9rem;
  cursor: pointer;
  margin: 10px auto;
  gap: 5px;
  transition: color 0.2s;
}
.backBtn:hover {
  color: var(--color-primary-accent);
}


.successContainer {
  text-align: center;
  padding: 1rem 0;
}

.successText {
  color: var(--color-text-light);
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.emailHighlight {
  color: var(--color-text);
  font-weight: 600;
}

.resendText {
  font-size: 0.85rem;
  color: var(--color-text-light);
  margin-top: 15px;
}
