/* PageWrapper - adds navbar spacing for regular pages */
.pageWrapper {
  padding-top: 100px;
  min-height: calc(100vh - 100px);
}

@media (max-width: 991px) {
  .pageWrapper {
    padding-top: 80px;
    min-height: calc(100vh - 80px);
  }
}
